<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facebook" version="6.4.2" targetFramework="win" />
  <package id="Facebook.Client" version="0.8.0-alpha" targetFramework="win" />
  <package id="MvvmLight" version="4.1.27.0" targetFramework="win" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="win" />
  <package id="WinRTXamlToolkit" version="1.5.2.0" targetFramework="win" />
</packages>